**CHI SQAURE** **TEST**

Why do we use chi square test?
When we have two categorical features from a single population and check the association between them

In [ ]:
import scipy.stats as stats

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
data=sns.load_dataset("tips")

In [ ]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

We have two categorical features sex and smoker and we check if there is any association between the two

In [ ]:
## Step 1 : pick the two categorical features

data_table=pd.crosstab(data['sex'],data['smoker'])
print(data_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [ ]:
data_table.values

array([[60, 97],
       [33, 54]])

In [ ]:
## Step 2 : Calculate observed values

obs=data_table.values

In [ ]:
''' Chi sqaure contingency : Chi sqaure test of independence of attributes in
contingency table. this function computes the chi sqaure statistic and p value
for the hypothesis test of independence of the observed frequencies in the
contingency table'''

## Step 3 : Make the contingency table

val=stats.chi2_contingency(data_table)
print(val)

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [ ]:
## Step 4 : Store the expected values

exp=val[3]

In [ ]:
## Step 5 : Calculate the degrees of freedom

rows=len(data_table.iloc[0:2,0])
cols=len(data_table.iloc[0,0:2])
dof=(rows-1)*(cols-1)
print(dof)
alpha=0.05

## Alpha is 0.05 means we have to capture 95% variance

1

In [ ]:
 from scipy.stats import chi2
 chi=sum([(o-e)**2./e for o,e in zip(obs,exp)])
 chi_stat=chi[0]+chi[1]

In [ ]:
 chi=sum([(o-e)**2./e for o,e in zip(obs,exp)])
 print(chi)

[0.00119737 0.00073745]

In [ ]:
print(chi_stat)

0.001934818536627623

In [ ]:
## Calculating critical value , from critical value and chi square statistics we
## can see if there is a relationship between two variables

crit=chi2.ppf(q=1-alpha,df=dof)
print(crit)

## ppf is inverse of cdf

3.841458820694124

In [ ]:
# Another way of checking the relationship is finding the p value
p_value=1-chi2.cdf(x=chi_stat,df=dof)
print(p_value)

0.964915107315732

In [ ]:
if chi_stat>=crit:
  print("Reject H0")
else:
  print("Accept H0, no relationship")

if p_value>=0.05:
  print("Accept H0")
else:
  print("Reject H0")

Accept H0, no relationship
Accept H0